/* ============================================== */
/* =	core									= */
/* ============================================== */
/* ============================================== */
/* =	SYSTEM									= */
/* ============================================== */
/* ============================================== */
/* =	TYPOGRAPHY								= */
/* ============================================== */
/* ============================================== */
/* =	NAVIGATION								= */
/* ============================================== */
/* ============================================== */
/* =	PANELS									= */
/* ============================================== */
/* ============================================== */
/* =	TABLES									= */
/* ============================================== */
/* ============================================== */
/* =	INPUTS									= */
/* ============================================== */
/* ============================================== */
/* =	BUTTONS									= */
/* ============================================== */
/* ============================================== */
/* =	CALENDARS								= */
/* ============================================== */
/* ============================================== */
/* =	STATISTICS								= */
/* ============================================== */
/* ============================================== */
/* =	FORMS									= */
/* ============================================== */
/* ============================================== */
/* =	DROPDOWNS								= */
/* ============================================== */
/* ============================================== */
/* =	MEDIA QUERIES							= */
/* ============================================== */
/* ============================================== */
/* =	GRID									= */
/* ============================================== */
/* ============================================== */
/* =	MARGINS, PADDINGS & GLOBAL BORDERS		= */
/* ============================================== */
/* ============================================== */
/* =	MIXINS									= */
/* ============================================== */
.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hide-text {
  background-color: transparent;
  color: transparent;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.btn {
  padding: 4px 10px;
  line-height: 1.428571429;
  border-radius: 3px !important;
  -mox-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  cursor: pointer;
}
.bg-default {
  background-color: #d4d4d4;
}
.bg-success {
  background-color: #34c520 !important;
}
.bg-warning {
  background-color: #e25856 !important;
}
.badge {
  display: inline-block;
  min-width: 20px;
  padding: 2.5px 5px;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #cfcfcf;
  border-radius: 10px;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-align {
  text-align: center;
}
*[class*='tooltip-'] {
  position: relative;
}
*[class*='tooltip-']:hover {
  text-decoration: none;
}
*[class*='tooltip-']:hover:after {
  background: #4c5566 /*#415366*/;
  border-radius: 3px !important;
  -mox-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  color: #c9d0d8;
  content: attr(tooltip-title);
  display: block;
  top: 50%;
  left: 120%;
  position: absolute;
  white-space: nowrap;
  z-index: 999;
  width: auto;
  height: auto;
  padding: 10px;
}
.tooltip-right:hover:after {
  top: 50%;
  left: 120%;
  margin-top: -20px;
}
.tooltip-left:hover:after {
  top: 50%;
  rigth: 120%;
  margin-top: -20px;
}
.tooltip-top:hover:after {
  top: -100%;
  left: 50%;
}
.tooltip-bottom:hover:after {
  bottom: 120%;
  left: 50%;
}
/* ============================================== */
/* =	GRID									= */
/* ============================================== */
.container {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 748px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .container {
    width: 1004px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1180px !important;
  }
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
*[class*='col-'] {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  position: relative;
}
@media (min-width: 768px) {
  .col-s-1, .col-s-2, .col-s-3, .col-s-4, .col-s-5, .col-s-6, .col-s-7, .col-s-8, .col-s-9, .col-s-10, .col-s-11, .col-s-12 {
    float: left;
  }
  .col-s-12 {
    width: 100% !important;
  }
  .col-s-11 {
    width: 91.66666666666666% !important;
  }
  .col-s-10 {
    width: 83.33333333333334% !important;
  }
  .col-s-9 {
    width: 75% !important;
  }
  .col-s-8 {
    width: 66.66666666666666% !important;
  }
  .col-s-7 {
    width: 58.333333333333336% !important;
  }
  .col-s-6 {
    width: 50% !important;
  }
  .col-s-5 {
    width: 41.66666666666667% !important;
  }
  .col-s-4 {
    width: 33.33333333333333% !important;
  }
  .col-s-3 {
    width: 25% !important;
  }
  .col-s-2 {
    width: 16.666666666666664% !important;
  }
  .col-s-1 {
    width: 8.333333333333332% !important;
  }
  .col-s-pull-12 {
    right: 100% !important;
  }
  .col-s-pull-11 {
    right: 91.66666666666666% !important;
  }
  .col-s-pull-10 {
    right: 83.33333333333334% !important;
  }
  .col-s-pull-9 {
    right: 75% !important;
  }
  .col-s-pull-8 {
    right: 66.66666666666666% !important;
  }
  .col-s-pull-7 {
    right: 58.333333333333336% !important;
  }
  .col-s-pull-6 {
    right: 50% !important;
  }
  .col-s-pull-5 {
    right: 41.66666666666667% !important;
  }
  .col-s-pull-4 {
    right: 33.33333333333333% !important;
  }
  .col-s-pull-3 {
    right: 25% !important;
  }
  .col-s-pull-2 {
    right: 16.666666666666664% !important;
  }
  .col-s-pull-1 {
    right: 8.333333333333332% !important;
  }
  .col-s-pull-0 {
    right: 0% !important;
  }
  .col-s-push-12 {
    left: 100% !important;
  }
  .col-s-push-11 {
    left: 91.66666666666666% !important;
  }
  .col-s-push-10 {
    left: 83.33333333333334% !important;
  }
  .col-s-push-9 {
    left: 75% !important;
  }
  .col-s-push-8 {
    left: 66.66666666666666% !important;
  }
  .col-s-push-7 {
    left: 58.333333333333336% !important;
  }
  .col-s-push-6 {
    left: 50% !important;
  }
  .col-s-push-5 {
    left: 41.66666666666667% !important;
  }
  .col-s-push-4 {
    left: 33.33333333333333% !important;
  }
  .col-s-push-3 {
    left: 25% !important;
  }
  .col-s-push-2 {
    left: 16.666666666666664% !important;
  }
  .col-s-push-1 {
    left: 8.333333333333332% !important;
  }
  .col-s-push-0 {
    left: 0% !important;
  }
}
@media (min-width: 1024px) {
  .col-m-1, .col-m-2, .col-m-3, .col-m-4, .col-m-5, .col-m-6, .col-m-7, .col-m-8, .col-m-9, .col-m-10, .col-m-11, .col-m-12 {
    float: left;
  }
  .col-m-12 {
    width: 100% !important;
  }
  .col-m-11 {
    width: 91.66666666666666% !important;
  }
  .col-m-10 {
    width: 83.33333333333334% !important;
  }
  .col-m-9 {
    width: 75% !important;
  }
  .col-m-8 {
    width: 66.66666666666666% !important;
  }
  .col-m-7 {
    width: 58.333333333333336% !important;
  }
  .col-m-6 {
    width: 50% !important;
  }
  .col-m-5 {
    width: 41.66666666666667% !important;
  }
  .col-m-4 {
    width: 33.33333333333333% !important;
  }
  .col-m-3 {
    width: 25% !important;
  }
  .col-m-2 {
    width: 16.666666666666664% !important;
  }
  .col-m-1 {
    width: 8.333333333333332% !important;
  }
  .col-m-pull-12 {
    right: 100% !important;
  }
  .col-m-pull-11 {
    right: 91.66666666666666% !important;
  }
  .col-m-pull-10 {
    right: 83.33333333333334% !important;
  }
  .col-m-pull-9 {
    right: 75% !important;
  }
  .col-m-pull-8 {
    right: 66.66666666666666% !important;
  }
  .col-m-pull-7 {
    right: 58.333333333333336% !important;
  }
  .col-m-pull-6 {
    right: 50% !important;
  }
  .col-m-pull-5 {
    right: 41.66666666666667% !important;
  }
  .col-m-pull-4 {
    right: 33.33333333333333% !important;
  }
  .col-m-pull-3 {
    right: 25% !important;
  }
  .col-m-pull-2 {
    right: 16.666666666666664% !important;
  }
  .col-m-pull-1 {
    right: 8.333333333333332% !important;
  }
  .col-m-pull-0 {
    right: 0% !important;
  }
  .col-m-push-12 {
    left: 100% !important;
  }
  .col-m-push-11 {
    left: 91.66666666666666% !important;
  }
  .col-m-push-10 {
    left: 83.33333333333334% !important;
  }
  .col-m-push-9 {
    left: 75% !important;
  }
  .col-m-push-8 {
    left: 66.66666666666666% !important;
  }
  .col-m-push-7 {
    left: 58.333333333333336% !important;
  }
  .col-m-push-6 {
    left: 50% !important;
  }
  .col-m-push-5 {
    left: 41.66666666666667% !important;
  }
  .col-m-push-4 {
    left: 33.33333333333333% !important;
  }
  .col-m-push-3 {
    left: 25% !important;
  }
  .col-m-push-2 {
    left: 16.666666666666664% !important;
  }
  .col-m-push-1 {
    left: 8.333333333333332% !important;
  }
  .col-m-push-0 {
    left: 0% !important;
  }
}
@media (min-width: 1200px) {
  .col-l-1, .col-l-2, .col-l-3, .col-l-4, .col-l-5, .col-l-6, .col-l-7, .col-l-8, .col-l-9, .col-l-10, .col-l-11, .col-l-12 {
    float: left;
  }
  .col-l-12 {
    width: 100% !important;
  }
  .col-l-11 {
    width: 91.66666666666666% !important;
  }
  .col-l-10 {
    width: 83.33333333333334% !important;
  }
  .col-l-9 {
    width: 75% !important;
  }
  .col-l-8 {
    width: 66.66666666666666% !important;
  }
  .col-l-7 {
    width: 58.333333333333336% !important;
  }
  .col-l-6 {
    width: 50% !important;
  }
  .col-l-5 {
    width: 41.66666666666667% !important;
  }
  .col-l-4 {
    width: 33.33333333333333% !important;
  }
  .col-l-3 {
    width: 25% !important;
  }
  .col-l-2 {
    width: 16.666666666666664% !important;
  }
  .col-l-1 {
    width: 8.333333333333332% !important;
  }
  .col-l-pull-12 {
    right: 100% !important;
  }
  .col-l-pull-11 {
    right: 91.66666666666666% !important;
  }
  .col-l-pull-10 {
    right: 83.33333333333334% !important;
  }
  .col-l-pull-9 {
    right: 75% !important;
  }
  .col-l-pull-8 {
    right: 66.66666666666666% !important;
  }
  .col-l-pull-7 {
    right: 58.333333333333336% !important;
  }
  .col-l-pull-6 {
    right: 50% !important;
  }
  .col-l-pull-5 {
    right: 41.66666666666667% !important;
  }
  .col-l-pull-4 {
    right: 33.33333333333333% !important;
  }
  .col-l-pull-3 {
    right: 25% !important;
  }
  .col-l-pull-2 {
    right: 16.666666666666664% !important;
  }
  .col-l-pull-1 {
    right: 8.333333333333332% !important;
  }
  .col-l-pull-0 {
    right: 0% !important;
  }
  .col-l-push-12 {
    left: 100% !important;
  }
  .col-l-push-11 {
    left: 91.66666666666666% !important;
  }
  .col-l-push-10 {
    left: 83.33333333333334% !important;
  }
  .col-l-push-9 {
    left: 75% !important;
  }
  .col-l-push-8 {
    left: 66.66666666666666% !important;
  }
  .col-l-push-7 {
    left: 58.333333333333336% !important;
  }
  .col-l-push-6 {
    left: 50% !important;
  }
  .col-l-push-5 {
    left: 41.66666666666667% !important;
  }
  .col-l-push-4 {
    left: 33.33333333333333% !important;
  }
  .col-l-push-3 {
    left: 25% !important;
  }
  .col-l-push-2 {
    left: 16.666666666666664% !important;
  }
  .col-l-push-1 {
    left: 8.333333333333332% !important;
  }
  .col-l-push-0 {
    left: 0% !important;
  }
}
.no-pad-left {
  padding-left: 0 !important;
}
.no-pad-right {
  padding-right: 0 !important;
}
.no-pad-top {
  padding-top: 0 !important;
}
.no-pad-bottom {
  padding-bottom: 0 !important;
}
.no-pad-hoz {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.mt {
  margin-top: 10px;
}
.mr {
  margin-right: 10px;
}
.mb {
  margin-bottom: 10px;
}
.ml {
  margin-left: 10px;
}
/* ============================================== */
/* =	RESETS									= */
/* ============================================== */
/* ============================================== */
/* =	COMPONENTS								= */
/* ============================================== */
/* ============================================== */
/* =	COMPONENTS								= */
/* ============================================== */
.form-group {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  margin-bottom: 10px;
}
.form-group:before,
.form-group:after {
  content: " ";
  display: table;
}
.form-group:after {
  clear: both;
}
.form-group label {
  display: inline-block;
  font-weight: 400;
  text-align: left;
  margin-bottom: 5px;
  color: #717171;
}
.search-group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%;
}
.search-group input[type="search"] {
  display: table-cell;
  position: relative;
  float: left;
  margin-bottom: 0;
  border-right: 0;
}
.search-group input[type="search"]:first-child {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.search-group .search-group-btn {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
}
.search-group .search-group-btn button {
  position: relative;
  padding: 4px 10px;
  line-height: 1.428571429;
  border-radius: 3px !important;
  -mox-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border: 1px solid #d9d9d9;
  height: 30px;
  background: #f5f5f5;
}
.btn-group {
  margin-bottom: 10px;
  width: inherit;
  display: inline-block;
}
.btn + .btn {
  margin-left: 10px;
}
input[type="radio"],
input[type="checkbox"] {
  line-height: normal;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 0;
}
select,
textarea,
input[type="text"],
input[type="search"] input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: block;
  width: 100%;
  float: left;
  height: 30px;
  padding: 5px 10px;
  line-height: 1.428571429;
  color: #717171;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #d9d9d9;
  font-size: 13px;
  font-size: 1.3rem;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  border-radius: 3px !important;
  -mox-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
}
select[disabled],
textarea[disabled],
input[type="text"][disabled],
input[type="search"] input[type="password"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
select[readonly],
textarea[readonly],
input[type="text"][readonly],
input[type="search"] input[type="password"][readonly],
input[type="datetime"][readonly],
input[type="datetime-local"][readonly],
input[type="date"][readonly],
input[type="month"][readonly],
input[type="time"][readonly],
input[type="week"][readonly],
input[type="number"][readonly],
input[type="email"][readonly],
input[type="url"][readonly],
input[type="search"][readonly],
input[type="tel"][readonly],
input[type="color"][readonly],
fieldset[disabled] select,
fieldset[disabled] textarea,
fieldset[disabled] input[type="text"],
fieldset[disabled] input[type="search"] input[type="password"],
fieldset[disabled] input[type="datetime"],
fieldset[disabled] input[type="datetime-local"],
fieldset[disabled] input[type="date"],
fieldset[disabled] input[type="month"],
fieldset[disabled] input[type="time"],
fieldset[disabled] input[type="week"],
fieldset[disabled] input[type="number"],
fieldset[disabled] input[type="email"],
fieldset[disabled] input[type="url"],
fieldset[disabled] input[type="search"],
fieldset[disabled] input[type="tel"],
fieldset[disabled] input[type="color"] {
  cursor: default;
  background-color: #f5f5f5;
  opacity: 1;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="search"] input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  color: #000000;
}
select {
  color: #717171;
}
textarea {
  min-height: 100px;
  height: auto;
}
input[type="submit"] {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  color: #ffffff;
  padding: 4px 10px;
  line-height: 1.428571429;
  border-radius: 3px !important;
  -mox-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  font-size: 13px;
  font-size: 1.3rem;
  background-color: #215dc6;
  background-image: -moz-linear-gradient(top, #215dc6, #163e84);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#215dc6), to(#163e84));
  background-image: -webkit-linear-gradient(top, #215dc6, #163e84);
  background-image: -o-linear-gradient(top, #215dc6, #163e84);
  background-image: linear-gradient(to bottom, #215dc6, #163e84);
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #34c520;
  background-image: -moz-linear-gradient(top, #34c520, #238315);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#34c520), to(#238315));
  background-image: -webkit-linear-gradient(top, #34c520, #238315);
  background-image: -o-linear-gradient(top, #34c520, #238315);
  background-image: linear-gradient(to bottom, #34c520, #238315);
  text-decoration: none;
}
input[type="submit"]:active,
input[type="submit"].active {
  outline: 0;
  background-image: none;
}
input[type="submit"].disabled,
input[type="submit"][disabled],
fieldset[disabled] input[type="submit"] {
  cursor: not-allowed;
  pointer-events: none;
}
.radio-inline,
.checkbox-inline {
  float: left;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 10px;
}
.radio-inline input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio-inline input[type="radio"],
.checkbox-inline input[type="radio"] {
  margin-left: -10px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 20px;
}
@font-face {
  font-family: 'IconSweets-Deluxe';
  src: url('../fonts/IconSweets-Deluxe.eot');
  src: url('../fonts/IconSweets-Deluxe.eot?#iefix') format('embedded-opentype'), url('../fonts/IconSweets-Deluxe.svg#IconSweets-Deluxe') format('svg'), url('../fonts/IconSweets-Deluxe.woff') format('woff'), url('../fonts/IconSweets-Deluxe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*[class*='caret-'] {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: middle;
}
.caret-up {
  border-bottom: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.caret-right {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid;
}
.caret-down {
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.caret-left {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid;
}
.caret-group-hoz {
  height: 8px;
  width: auto;
  display: inline-block;
}
.caret-group-hoz b:first-child {
  margin-right: 10px;
}
.caret-group-hoz b:last-child {
  margin-left: 10px;
}
.glyph {
  position: relative;
  top: 1px;
  padding: 0 5px;
  display: inline-block;
  font-family: 'IconSweets-Deluxe';
  font-style: normal;
  font-weight: normal;
  /*line-height: 1;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zoom2:before {
  content: "\e000";
}
.icon-zoom:before {
  content: "\e001";
}
.icon-youtube4:before {
  content: "\e002";
}
.icon-youtube3:before {
  content: "\e003";
}
.icon-youtube2:before {
  content: "\e004";
}
.icon-youtube:before {
  content: "\e005";
}
.icon-write:before {
  content: "\e006";
}
.icon-wordpress2:before {
  content: "\e007";
}
.icon-wordpress:before {
  content: "\e008";
}
.icon-winner-podium:before {
  content: "\e009";
}
.icon-windows:before {
  content: "\e00a";
}
.icon-wifi4:before {
  content: "\e00b";
}
.icon-wifi3:before {
  content: "\e00c";
}
.icon-wifi2:before {
  content: "\e00d";
}
.icon-wifi:before {
  content: "\e00e";
}
.icon-walking-man:before {
  content: "\e00f";
}
.icon-wacom2:before {
  content: "\e010";
}
.icon-wacom:before {
  content: "\e011";
}
.icon-visa2:before {
  content: "\e012";
}
.icon-visa:before {
  content: "\e013";
}
.icon-vimeo5:before {
  content: "\e014";
}
.icon-vimeo4:before {
  content: "\e015";
}
.icon-vimeo3:before {
  content: "\e016";
}
.icon-vimeo2:before {
  content: "\e017";
}
.icon-vimeo:before {
  content: "\e018";
}
.icon-vault:before {
  content: "\e019";
}
.icon-v-card3:before {
  content: "\e01a";
}
.icon-v-card2:before {
  content: "\e01b";
}
.icon-v-card:before {
  content: "\e01c";
}
.icon-users2:before {
  content: "\e01d";
}
.icon-users:before {
  content: "\e01e";
}
.icon-user2:before {
  content: "\e01f";
}
.icon-user:before {
  content: "\e020";
}
.icon-user-comment:before {
  content: "\e021";
}
.icon-usb-stick:before {
  content: "\e022";
}
.icon-upload:before {
  content: "\e023";
}
.icon-universal-access:before {
  content: "\e024";
}
.icon-under-construction:before {
  content: "\e025";
}
.icon-umbrella:before {
  content: "\e026";
}
.icon-twitter3:before {
  content: "\e027";
}
.icon-twitter2:before {
  content: "\e028";
}
.icon-twitter:before {
  content: "\e029";
}
.icon-tumblr:before {
  content: "\e02a";
}
.icon-truck2:before {
  content: "\e02b";
}
.icon-truck:before {
  content: "\e02c";
}
.icon-trolly:before {
  content: "\e02d";
}
.icon-tree:before {
  content: "\e02e";
}
.icon-trashcan2:before {
  content: "\e02f";
}
.icon-trashcan:before {
  content: "\e030";
}
.icon-traffic-light:before {
  content: "\e031";
}
.icon-tools:before {
  content: "\e032";
}
.icon-timer:before {
  content: "\e033";
}
.icon-text-styling3:before {
  content: "\e034";
}
.icon-text-styling2:before {
  content: "\e035";
}
.icon-text-styling:before {
  content: "\e036";
}
.icon-television:before {
  content: "\e037";
}
.icon-telephone4:before {
  content: "\e038";
}
.icon-telephone3:before {
  content: "\e039";
}
.icon-telephone2:before {
  content: "\e03a";
}
.icon-telephone:before {
  content: "\e03b";
}
.icon-tags2:before {
  content: "\e03c";
}
.icon-tag:before {
  content: "\e03d";
}
.icon-table-:before {
  content: "\e03e";
}
.icon-sweater:before {
  content: "\e03f";
}
.icon-suitcase3:before {
  content: "\e040";
}
.icon-suitcase2:before {
  content: "\e041";
}
.icon-suitcase:before {
  content: "\e042";
}
.icon-suitcase-travel:before {
  content: "\e043";
}
.icon-stumbleupon:before {
  content: "\e044";
}
.icon-strategy2:before {
  content: "\e045";
}
.icon-strategy:before {
  content: "\e046";
}
.icon-stopwatch:before {
  content: "\e047";
}
.icon-sticky-note:before {
  content: "\e048";
}
.icon-speech-bubbles2:before {
  content: "\e049";
}
.icon-speech-bubbles:before {
  content: "\e04a";
}
.icon-speech-bubble2:before {
  content: "\e04b";
}
.icon-speech-bubble:before {
  content: "\e04c";
}
.icon-sound:before {
  content: "\e04d";
}
.icon-socks:before {
  content: "\e04e";
}
.icon-skype2:before {
  content: "\e04f";
}
.icon-skype:before {
  content: "\e050";
}
.icon-signal:before {
  content: "\e051";
}
.icon-sign-post2:before {
  content: "\e052";
}
.icon-sign-post:before {
  content: "\e053";
}
.icon-shopping-cart4:before {
  content: "\e054";
}
.icon-shopping-cart3:before {
  content: "\e055";
}
.icon-shopping-cart2:before {
  content: "\e056";
}
.icon-shopping-cart:before {
  content: "\e057";
}
.icon-shopping-basket2:before {
  content: "\e058";
}
.icon-shopping-basket:before {
  content: "\e059";
}
.icon-shirt-tshirt:before {
  content: "\e05a";
}
.icon-shirt-sport:before {
  content: "\e05b";
}
.icon-shirt-sleeveless:before {
  content: "\e05c";
}
.icon-shirt-nike:before {
  content: "\e05d";
}
.icon-shirt-dress:before {
  content: "\e05e";
}
.icon-shirt-adidas:before {
  content: "\e05f";
}
.icon-shades:before {
  content: "\e060";
}
.icon-settings2:before {
  content: "\e061";
}
.icon-settings:before {
  content: "\e062";
}
.icon-sd3:before {
  content: "\e063";
}
.icon-sd2:before {
  content: "\e064";
}
.icon-sd:before {
  content: "\e065";
}
.icon-scissors:before {
  content: "\e066";
}
.icon-safari:before {
  content: "\e067";
}
.icon-running-man:before {
  content: "\e068";
}
.icon-ruler2:before {
  content: "\e069";
}
.icon-ruler:before {
  content: "\e06a";
}
.icon-rss:before {
  content: "\e06b";
}
.icon-robot:before {
  content: "\e06c";
}
.icon-record:before {
  content: "\e06d";
}
.icon-rake-scoop:before {
  content: "\e06e";
}
.icon-radio:before {
  content: "\e06f";
}
.icon-radio-signal:before {
  content: "\e070";
}
.icon-quicktime2:before {
  content: "\e071";
}
.icon-quicktime:before {
  content: "\e072";
}
.icon-printer:before {
  content: "\e073";
}
.icon-price-tags:before {
  content: "\e074";
}
.icon-price-tag:before {
  content: "\e075";
}
.icon-presentation:before {
  content: "\e076";
}
.icon-power:before {
  content: "\e077";
}
.icon-postcard:before {
  content: "\e078";
}
.icon-plixi:before {
  content: "\e079";
}
.icon-piggy-bank:before {
  content: "\e07a";
}
.icon-phone-old:before {
  content: "\e07b";
}
.icon-phone-hook:before {
  content: "\e07c";
}
.icon-pencil:before {
  content: "\e07d";
}
.icon-pen-fountain:before {
  content: "\e07e";
}
.icon-paypal5:before {
  content: "\e07f";
}
.icon-paypal4:before {
  content: "\e080";
}
.icon-paypal3:before {
  content: "\e081";
}
.icon-paypal2:before {
  content: "\e082";
}
.icon-paypal:before {
  content: "\e083";
}
.icon-paperclip:before {
  content: "\e084";
}
.icon-pants:before {
  content: "\e085";
}
.icon-pacman:before {
  content: "\e086";
}
.icon-pacman-ghost:before {
  content: "\e087";
}
.icon-outbox2:before {
  content: "\e088";
}
.icon-outbox:before {
  content: "\e089";
}
.icon-notebook:before {
  content: "\e08a";
}
.icon-myspace2:before {
  content: "\e08b";
}
.icon-myspace:before {
  content: "\e08c";
}
.icon-musical-keyboard:before {
  content: "\e08d";
}
.icon-mouse2:before {
  content: "\e08e";
}
.icon-mouse:before {
  content: "\e08f";
}
.icon-mouse-with-wire:before {
  content: "\e090";
}
.icon-monitor:before {
  content: "\e091";
}
.icon-money2:before {
  content: "\e092";
}
.icon-money:before {
  content: "\e093";
}
.icon-mobypicture:before {
  content: "\e094";
}
.icon-mobile-phone2:before {
  content: "\e095";
}
.icon-mobile-phone:before {
  content: "\e096";
}
.icon-mighty-mouse:before {
  content: "\e097";
}
.icon-mickey-mouse:before {
  content: "\e098";
}
.icon-mic:before {
  content: "\e099";
}
.icon-megaphone:before {
  content: "\e09a";
}
.icon-medical-case:before {
  content: "\e09b";
}
.icon-mastercard:before {
  content: "\e09c";
}
.icon-marker:before {
  content: "\e09d";
}
.icon-map:before {
  content: "\e09e";
}
.icon-male:before {
  content: "\e09f";
}
.icon-male-symbol:before {
  content: "\e0a0";
}
.icon-mail2:before {
  content: "\e0a1";
}
.icon-mail:before {
  content: "\e0a2";
}
.icon-magic-mouse:before {
  content: "\e0a3";
}
.icon-macos:before {
  content: "\e0a4";
}
.icon-locked:before {
  content: "\e0a5";
}
.icon-lock:before {
  content: "\e0a6";
}
.icon-lock-open:before {
  content: "\e0a7";
}
.icon-loading:before {
  content: "\e0a8";
}
.icon-list:before {
  content: "\e0a9";
}
.icon-list-with-images:before {
  content: "\e0aa";
}
.icon-list-with-image:before {
  content: "\e0ab";
}
.icon-linux:before {
  content: "\e0ac";
}
.icon-linked-in:before {
  content: "\e0ad";
}
.icon-link2:before {
  content: "\e0ae";
}
.icon-link:before {
  content: "\e0af";
}
.icon-like2:before {
  content: "\e0b0";
}
.icon-like:before {
  content: "\e0b1";
}
.icon-light-bulb:before {
  content: "\e0b2";
}
.icon-lemon-stand2:before {
  content: "\e0b3";
}
.icon-lemon-stand:before {
  content: "\e0b4";
}
.icon-leaf:before {
  content: "\e0b5";
}
.icon-lastfm2:before {
  content: "\e0b6";
}
.icon-lastfm:before {
  content: "\e0b7";
}
.icon-laptop:before {
  content: "\e0b8";
}
.icon-lamps:before {
  content: "\e0b9";
}
.icon-labs:before {
  content: "\e0ba";
}
.icon-keyboard:before {
  content: "\e0bb";
}
.icon-key2:before {
  content: "\e0bc";
}
.icon-key:before {
  content: "\e0bd";
}
.icon-joomla:before {
  content: "\e0be";
}
.icon-ipod-shuffle:before {
  content: "\e0bf";
}
.icon-ipod-nano2:before {
  content: "\e0c0";
}
.icon-ipod-nano:before {
  content: "\e0c1";
}
.icon-ipod-classic:before {
  content: "\e0c2";
}
.icon-iphone4:before {
  content: "\e0c3";
}
.icon-iphone4-with-4:before {
  content: "\e0c4";
}
.icon-iphone3g:before {
  content: "\e0c5";
}
.icon-ipad2:before {
  content: "\e0c6";
}
.icon-ipad:before {
  content: "\e0c7";
}
.icon-info:before {
  content: "\e0c8";
}
.icon-inbox3:before {
  content: "\e0c9";
}
.icon-inbox:before {
  content: "\e0ca";
}
.icon-images2:before {
  content: "\e0cb";
}
.icon-images:before {
  content: "\e0cc";
}
.icon-image2:before {
  content: "\e0cd";
}
.icon-image:before {
  content: "\e0ce";
}
.icon-imac:before {
  content: "\e0cf";
}
.icon-ideal:before {
  content: "\e0d0";
}
.icon-ichat:before {
  content: "\e0d1";
}
.icon-ice-cream2:before {
  content: "\e0d2";
}
.icon-ice-cream:before {
  content: "\e0d3";
}
.icon-hour-glass:before {
  content: "\e0d4";
}
.icon-home2:before {
  content: "\e0d5";
}
.icon-home:before {
  content: "\e0d6";
}
.icon-help:before {
  content: "\e0d7";
}
.icon-headphones:before {
  content: "\e0d8";
}
.icon-hd3:before {
  content: "\e0d9";
}
.icon-hd2:before {
  content: "\e0da";
}
.icon-hd:before {
  content: "\e0db";
}
.icon-harddisk:before {
  content: "\e0dc";
}
.icon-halloween:before {
  content: "\e0dd";
}
.icon-group2:before {
  content: "\e0de";
}
.icon-group:before {
  content: "\e0df";
}
.icon-gowalla2:before {
  content: "\e0e0";
}
.icon-gowalla:before {
  content: "\e0e1";
}
.icon-google-plus2:before {
  content: "\e0e2";
}
.icon-google-maps:before {
  content: "\e0e3";
}
.icon-google-buzz:before {
  content: "\e0e4";
}
.icon-globe2:before {
  content: "\e0e5";
}
.icon-globe:before {
  content: "\e0e6";
}
.icon-glass:before {
  content: "\e0e7";
}
.icon-glass-wine:before {
  content: "\e0e8";
}
.icon-g-key:before {
  content: "\e0e9";
}
.icon-full-screen3:before {
  content: "\e0ea";
}
.icon-full-screen2:before {
  content: "\e0eb";
}
.icon-full-screen:before {
  content: "\e0ec";
}
.icon-frames:before {
  content: "\e0ed";
}
.icon-foursquare:before {
  content: "\e0ee";
}
.icon-footprints:before {
  content: "\e0ef";
}
.icon-footprint:before {
  content: "\e0f0";
}
.icon-folder:before {
  content: "\e0f1";
}
.icon-folder-user:before {
  content: "\e0f2";
}
.icon-folder-music:before {
  content: "\e0f3";
}
.icon-folder-locked:before {
  content: "\e0f4";
}
.icon-flip-clock:before {
  content: "\e0f5";
}
.icon-flag2:before {
  content: "\e0f6";
}
.icon-flag:before {
  content: "\e0f7";
}
.icon-firefox:before {
  content: "\e0f8";
}
.icon-finish2:before {
  content: "\e0f9";
}
.icon-finish:before {
  content: "\e0fa";
}
.icon-film-strip2:before {
  content: "\e0fb";
}
.icon-film-strip:before {
  content: "\e0fc";
}
.icon-film-camera2:before {
  content: "\e0fd";
}
.icon-film-camera:before {
  content: "\e0fe";
}
.icon-file-cabinet:before {
  content: "\e0ff";
}
.icon-female:before {
  content: "\e100";
}
.icon-female-symbol:before {
  content: "\e101";
}
.icon-factory:before {
  content: "\e102";
}
.icon-facebook:before {
  content: "\e103";
}
.icon-eyedropper:before {
  content: "\e104";
}
.icon-eye:before {
  content: "\e105";
}
.icon-expression-engine:before {
  content: "\e106";
}
.icon-expose:before {
  content: "\e107";
}
.icon-exit:before {
  content: "\e108";
}
.icon-electricity-plug:before {
  content: "\e109";
}
.icon-electricity-input3:before {
  content: "\e10a";
}
.icon-electricity-input2:before {
  content: "\e10b";
}
.icon-electricity-input:before {
  content: "\e10c";
}
.icon-dvd:before {
  content: "\e10d";
}
.icon-drupal:before {
  content: "\e10e";
}
.icon-dropbox:before {
  content: "\e10f";
}
.icon-dribbble4:before {
  content: "\e110";
}
.icon-dribbble3:before {
  content: "\e111";
}
.icon-dribbble2:before {
  content: "\e112";
}
.icon-dribbble:before {
  content: "\e113";
}
.icon-download:before {
  content: "\e114";
}
.icon-download-to-pc:before {
  content: "\e115";
}
.icon-dog-tags:before {
  content: "\e116";
}
.icon-dog-tag:before {
  content: "\e117";
}
.icon-documents:before {
  content: "\e118";
}
.icon-documents-zip:before {
  content: "\e119";
}
.icon-documents-word:before {
  content: "\e11a";
}
.icon-documents-text:before {
  content: "\e11b";
}
.icon-documents-powerpoint:before {
  content: "\e11c";
}
.icon-documents-pdf:before {
  content: "\e11d";
}
.icon-documents-excel:before {
  content: "\e11e";
}
.icon-document:before {
  content: "\e11f";
}
.icon-document-zip:before {
  content: "\e120";
}
.icon-document-word:before {
  content: "\e121";
}
.icon-document-text:before {
  content: "\e122";
}
.icon-document-powerpoint:before {
  content: "\e123";
}
.icon-document-photo:before {
  content: "\e124";
}
.icon-document-pdf:before {
  content: "\e125";
}
.icon-document-excel:before {
  content: "\e126";
}
.icon-dinner-plate:before {
  content: "\e127";
}
.icon-digg4:before {
  content: "\e128";
}
.icon-digg3:before {
  content: "\e129";
}
.icon-digg2:before {
  content: "\e12a";
}
.icon-digg:before {
  content: "\e12b";
}
.icon-delicious:before {
  content: "\e12c";
}
.icon-data-table:before {
  content: "\e12d";
}
.icon-cup:before {
  content: "\e12e";
}
.icon-creditcard:before {
  content: "\e12f";
}
.icon-coverflow:before {
  content: "\e130";
}
.icon-contacts5:before {
  content: "\e131";
}
.icon-contacts4:before {
  content: "\e132";
}
.icon-contacts3:before {
  content: "\e133";
}
.icon-contacts2:before {
  content: "\e134";
}
.icon-contacts:before {
  content: "\e135";
}
.icon-cogs:before {
  content: "\e136";
}
.icon-cog4:before {
  content: "\e137";
}
.icon-cog3:before {
  content: "\e138";
}
.icon-cog2:before {
  content: "\e139";
}
.icon-cog:before {
  content: "\e13a";
}
.icon-cloud:before {
  content: "\e13b";
}
.icon-cloud-upload:before {
  content: "\e13c";
}
.icon-cloud-rain-with-thunder:before {
  content: "\e13d";
}
.icon-cloud-rain-with-thunder-and-snow:before {
  content: "\e13e";
}
.icon-cloud-rain-with-sun:before {
  content: "\e13f";
}
.icon-cloud-rain-with-shiny-sun:before {
  content: "\e140";
}
.icon-cloud-download:before {
  content: "\e141";
}
.icon-clock2:before {
  content: "\e142";
}
.icon-clock:before {
  content: "\e143";
}
.icon-clipboard:before {
  content: "\e144";
}
.icon-clapboard:before {
  content: "\e145";
}
.icon-chrome:before {
  content: "\e146";
}
.icon-chart-pie:before {
  content: "\e147";
}
.icon-chart-pie-85:before {
  content: "\e148";
}
.icon-chart-pie-75:before {
  content: "\e149";
}
.icon-chart-pie-65:before {
  content: "\e14a";
}
.icon-chart-pie-50:before {
  content: "\e14b";
}
.icon-chart-pie-35:before {
  content: "\e14c";
}
.icon-chart-pie-25:before {
  content: "\e14d";
}
.icon-chart-pie-10:before {
  content: "\e14e";
}
.icon-chart-graph2:before {
  content: "\e14f";
}
.icon-chart-graph:before {
  content: "\e150";
}
.icon-chair:before {
  content: "\e151";
}
.icon-cd:before {
  content: "\e152";
}
.icon-cat:before {
  content: "\e153";
}
.icon-cash-register2:before {
  content: "\e154";
}
.icon-casette:before {
  content: "\e155";
}
.icon-car:before {
  content: "\e156";
}
.icon-candy-cane:before {
  content: "\e157";
}
.icon-camera2:before {
  content: "\e158";
}
.icon-camera:before {
  content: "\e159";
}
.icon-calendar-strike:before {
  content: "\e15a";
}
.icon-calendar-month:before {
  content: "\e15b";
}
.icon-calendar-day:before {
  content: "\e15c";
}
.icon-calculator:before {
  content: "\e15d";
}
.icon-bullseye:before {
  content: "\e15e";
}
.icon-building:before {
  content: "\e15f";
}
.icon-brush-small:before {
  content: "\e160";
}
.icon-brush-paint:before {
  content: "\e161";
}
.icon-brush-big:before {
  content: "\e162";
}
.icon-box-incoming:before {
  content: "\e163";
}
.icon-books2:before {
  content: "\e164";
}
.icon-books:before {
  content: "\e165";
}
.icon-book:before {
  content: "\e166";
}
.icon-book-large:before {
  content: "\e167";
}
.icon-bluray:before {
  content: "\e168";
}
.icon-bluetooth2:before {
  content: "\e169";
}
.icon-bluetooth:before {
  content: "\e16a";
}
.icon-blocks:before {
  content: "\e16b";
}
.icon-blackberry3:before {
  content: "\e16c";
}
.icon-blackberry2:before {
  content: "\e16d";
}
.icon-blackberry:before {
  content: "\e16e";
}
.icon-bills:before {
  content: "\e16f";
}
.icon-battery:before {
  content: "\e170";
}
.icon-battery-full:before {
  content: "\e171";
}
.icon-battery-empty:before {
  content: "\e172";
}
.icon-battery-70:before {
  content: "\e173";
}
.icon-battery-20:before {
  content: "\e174";
}
.icon-barcode3:before {
  content: "\e175";
}
.icon-barcode2:before {
  content: "\e176";
}
.icon-barcode:before {
  content: "\e177";
}
.icon-bandaid:before {
  content: "\e178";
}
.icon-balloons:before {
  content: "\e179";
}
.icon-bag2:before {
  content: "\e17a";
}
.icon-bag:before {
  content: "\e17b";
}
.icon-bag-shopping:before {
  content: "\e17c";
}
.icon-bag-recycle:before {
  content: "\e17d";
}
.icon-bag-lady:before {
  content: "\e17e";
}
.icon-arrow-up:before {
  content: "\e17f";
}
.icon-arrow-shuffle:before {
  content: "\e180";
}
.icon-arrow-right:before {
  content: "\e181";
}
.icon-arrow-repeat:before {
  content: "\e182";
}
.icon-arrow-refresh4:before {
  content: "\e183";
}
.icon-arrow-refresh3:before {
  content: "\e184";
}
.icon-arrow-refresh2:before {
  content: "\e185";
}
.icon-arrow-refresh:before {
  content: "\e186";
}
.icon-arrow-recycle:before {
  content: "\e187";
}
.icon-arrow-left:before {
  content: "\e188";
}
.icon-arrow-down:before {
  content: "\e189";
}
.icon-archive:before {
  content: "\e18a";
}
.icon-applications:before {
  content: "\e18b";
}
.icon-android2:before {
  content: "\e18c";
}
.icon-android:before {
  content: "\e18d";
}
.icon-american-express:before {
  content: "\e18e";
}
.icon-alert2:before {
  content: "\e18f";
}
.icon-alert:before {
  content: "\e190";
}
.icon-alarm2:before {
  content: "\e191";
}
.icon-alarm:before {
  content: "\e192";
}
.icon-alarm-clock:before {
  content: "\e193";
}
.icon-airplane:before {
  content: "\e194";
}
.icon-admin2:before {
  content: "\e195";
}
.icon-admin:before {
  content: "\e196";
}
.icon-acd:before {
  content: "\e197";
}
.icon-access-denied:before {
  content: "\e198";
}
.icon-abacus:before {
  content: "\e199";
}
/* ============================================== */
/* =	THEME SETUP								= */
/* ============================================== */
.xs-font-size {
  font-size: 9px;
  font-size: 0.9rem;
}
.s-font-size {
  font-size: 11px;
  font-size: 1.1rem;
}
.m-font-size {
  font-size: 13px;
  font-size: 1.3rem;
}
.l-font-size {
  font-size: 17px;
  font-size: 1.7rem;
}
.xl-font-size {
  font-size: 19px;
  font-size: 1.9rem;
}
.xxl-font-size {
  font-size: 23px;
  font-size: 2.3rem;
}
/* h1,h3,h4,h5,h6 {
	margin-top: 0;
	margin-bottom: @padding;
	font-weight: @regular;
}
    */
/* ============================================== */
/* =	NAVIGATION								= */
/* ============================================== */
*[class*='fixed-navbar-'] {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  position: fixed;
  top: 0;
  left: 0;
  font-size: 13px;
  font-size: 1.3rem;
}
.fixed-navbar-hoz {
  width: 100%;
  height: 50px;
  border-bottom: #191c21;
  background: #4c5566 /*#415366*/;
  color: #c9d0d8;
  z-index: 30000000000;
}
.fixed-navbar-hoz .glyph {
  font-size: 17px;
  font-size: 1.7rem;
}
.fixed-navbar-vert {
  width: 60px;
  height: 100%;
  border-right: 1px solid #d2d3d6;
  background: #ffffff;
  color: #313d4a;
  z-index: 2000;
  left: 0;
  top: 50px;
}
.fixed-navbar-vert ul {
  width: 60px;
  height: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: table-cell;
}
.fixed-navbar-vert ul li {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  color: #313d4a;
  vertical-align: middle;
  border-bottom: 1px solid #f5f5f5;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
.fixed-navbar-vert ul li:hover,
.fixed-navbar-vert ul li:active {
  background: #f5f5f5;
  color: #313d4a;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-left: 4px solid #4c5566 /*#415366*/;
  cursor: pointer;
}
.fixed-navbar-vert ul li:hover a,
.fixed-navbar-vert ul li:active a {
  margin-left: -4px;
}
.fixed-navbar-vert ul li a {
  text-align: center;
  color: inherit;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 19px;
  font-size: 1.9rem;
}
*[class*='menu_logo'] {
  background-color: transparent;
  color: transparent;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  background: transparent url('../img/logo.png') no-repeat center;
  height: inherit;
  padding: 0 10px;
}
*[class*='menu_logo'] a {
  display: block;
  width: inherit;
  height: inherit;
}
.menu_logo-left {
  float: left;
}
.menu_logo-right {
  float: right;
}
/* ============================================== */
/* =	MENU SLIDER								= */
/* ============================================== */
.menu-slider {
  left: -300px;
  background: #f5f5f5;
  position: fixed;
  color: #717171;
  width: 240px;
  height: 100%;
  top: 50px;
  z-index: 1000;
  border-right: 1px solid #d2d3d6;
  text-transform: none;
  padding-top: 4.0em;
}
.menu-slider h3,
.menu-slider a,
.menu-slider summary {
  display: block;
  color: inherit;
}
.menu-slider summary {
  padding: 0.5em 1em;
  text-transform: initial;
  font-size: 11px;
  font-size: 1.1rem;
}
@media (max-width: 767px) {
  .menu-slider summary {
    display: none;
  }
}
.menu-slider h3 {
  font-weight: 600;
  margin: 2em 0 0 0;
  padding: 0.5em 1em;
  font-size: 11px;
  font-size: 1.1rem;
}
.menu-slider ul {
  list-style-type: none;
  padding: 0;
}
.menu-slider ul li a {
  font-size: 13px;
  font-size: 1.3rem;
  padding: 0.5em 2em;
  font-weight: 300;
  text-decoration: none;
  margin-left: 10px;
}
.menu-slider ul li:hover {
  background: white;
  font-weight: 300;
}
.menu-slider ul li:active {
  color: #f5f5f5;
}
.menu-slider-left {
  left: -300px;
}
.menu-slider-left.menu-slider-open {
  left: 60px;
}
.cbp-spmenu-right {
  right: -240px;
}
.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}
.menu-slider,
.menu-slider-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* ============================================== */
/* =	DROPDOWNS								= */
/* ============================================== */
*[class*='dropdown-'] {
  height: inherit;
}
*[class*='dropdown-'] ul ul {
  display: none;
}
*[class*='dropdown-'] ul {
  padding: 0;
  margin: 0;
  height: 50px;
  list-style: none;
  position: relative;
  display: inline-table;
}
*[class*='dropdown-'] ul:after {
  content: "";
  clear: both;
  display: block;
}
*[class*='dropdown-'] ul li {
  float: left;
  height: inherit;
}
*[class*='dropdown-'] ul li:hover {
  background: #313d4a;
}
*[class*='dropdown-'] ul li:hover a {
  color: #ffffff;
  height: inherit;
}
*[class*='dropdown-'] ul li:hover > ul {
  display: block;
}
*[class*='dropdown-'] ul li a {
  vertical-align: middle;
  padding: 0  20px;
  color: inherit;
  text-decoration: none;
  display: table-cell;
  height: inherit;
}
*[class*='dropdown-'] ul ul {
  padding: 0;
  position: absolute;
  top: 100%;
  background: #5f6975;
  height: auto;
  width: auto;
}
*[class*='dropdown-'] ul ul li {
  height: 50px;
  float: none;
  position: relative;
}
*[class*='dropdown-'] ul ul li a {
  width: inherit;
  height: inherit;
  white-space: nowrap;
  padding: 0 20px;
  color: #ffffff;
}
*[class*='dropdown-'] ul ul li:hover {
  background: #4b545f;
}
*[class*='dropdown-'] ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}
/**[class*='dropdown-'] ul {
	padding: 0 0px;
	margin: 0; 
	height: @fixed-navbar-hoz-height;
	list-style: none;
	position: relative;
	display: inline-table;
	.box-sizing;
	&:after {
		content: "";
		clear: both;
		display: block;
	}
	li {
		.box-sizing;
		height: inherit;
		float: left;
		display: table-cell;
		&:hover {
			background: #313d4a;
			a {
				color: #fff;
			}
		}
		&:hover > ul {
			display: block;
		}
		a {
			height: inherit;
			display: table-cell;
			vertical-align: middle;
			padding: 0 20px;
			color: inherit;
			text-decoration: none;
		}
	}
	ul {
		background: #5f6975;
		padding: 0;
		position: absolute;
		top: 100%;
		width: inherit;
		li {
			width: inherit;
			float: left; 
			position: relative;
			a {
				white-space: nowrap;
				height: inherit;
				display: table-cell;
				vertical-align: middle;
				padding: 0 20px;
				color: #fff;
				&:hover {
					background: #4b545f;
				}
			}	
		}
		ul {
			position: absolute;
			left: 100%;
			top:0;
		}
	}
}*/
.dropdown-left {
  float: left;
}
.dropdown-right {
  float: right;
}
.dropdown-right ul ul {
  left: auto;
  right: 0;
  top: 100%;
}
.dropdown-right ul ul ul {
  left: auto;
  right: 100%;
  top: 0;
}
/* ============================================== */
/* =	TABLES									= */
/* ============================================== */
table {
  width: 100%;
  float: left;
  clear: none;
  background: #ffffff;
  border: 0;
  border-spacing: 0;
}
table tr {
  background: transparent;
}
table tr:nth-last-child(2n+2) {
  background: #f9f9f9;
}
table tr th,
table tr td {
  padding: 7px 10px;
  vertical-align: middle;
  text-align: center;
  border-top: 1px solid #d2d3d6;
}
table tr th:hover,
table tr td:hover {
  position: relative;
}
table tr th:last-child,
table tr td:last-child {
  border-right: 0;
}
table tr th[data-title]:hover:after,
table tr td[data-title]:hover:after {
  content: attr(data-title);
  padding: 10px;
  position: absolute;
  left: 50%;
  top: -50%;
  white-space: nowrap;
  z-index: 20;
  border-radius: 3px !important;
  -mox-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  color: white;
  background-color: #4c5566 /*#415366*/;
  border: 1px solid #d2d3d6;
}
table tr th {
  background-color: #f5f5f5;
  font-weight: 400;
  color: #717171 /*#40526a*/;
  font-size: 13px;
  font-size: 1.3rem;
}
table tr td {
  border-right: 1px solid #d2d3d6;
  overflow: hidden;
}
table tr td a {
  text-decoration: none;
  color: inherit;
}
table tr .tweet {
  padding: 0;
}
table tr .tweet input[type="text"] {
  width: 100%;
}
table tr .checkboxes {
  width: 30px;
  padding: 0 10px;
  text-align: center;
}
table tr .checkboxes input[type="checkbox"] {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  text-align: center !important;
}
table tr .total-sum {
  border-left: 0;
  font-weight: 600;
}
table tr .total-sum:before {
  borer-right: 0;
}
table:last-child {
  border-radius: 0 0 3px 3px !important;
  -mox-border-radius: 0 0 3px 3px !important;
  -webkit-border-radius: 0 0 3px 3px !important;
}
.calendar-small {
  font-size: 11px;
  font-size: 1.1rem;
  table-layout: fixed;
}
.calendar-small tr {
  width: 100%;
  height: auto;
  border: 0;
}
.calendar-small tr:nth-child(odd) {
  background: none;
}
.calendar-small tr:hover {
  background: 0 !important;
}
.calendar-small tr th,
.calendar-small tr td {
  height: 26px;
  text-align: center;
  vertical-align: middle;
  background: none;
  padding: 0;
}
.calendar-small tr th {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 9px;
  font-size: 0.9rem;
  color: #717171 /*#40526a*/;
  border-bottom: 1px solid #d2d3d6;
  background: none;
}
.calendar-small tr td {
  color: #717171;
  border: 0;
}
.calendar-small tr td:hover {
  background-color: #cfcfcf;
  cursor: pointer;
  color: #717171;
}
.calendar-small tr .passive-date {
  color: #cfcfcf;
}
.calendar-small tr .weekno {
  color: #cfcfcf;
}
.calendar-small tr .weekno:hover {
  background-color: transparent;
  cursor: auto;
  color: #cfcfcf;
}
.table-fixed {
  table-layout: fixed;
}
.table-auto {
  table-layout: auto;
}
/* ============================================== */
/* =	THEME									= */
/* ============================================== */
/* ============================================== */
/* =	THEME SETUP								= */
/* ============================================== */
body {
  background-color: #ecebe8 /*#e9eaed*/;
  padding-left: 70px;
}
.container {
  padding-top: 100px;
  margin-left: 10px;
}
.menu_icon {
  width: 40px;
  float: left;
}
*[class*='menu_logo'] {
  width: 120px;
}
html {
  font-size: 62.5%;
}
body,
table {
  font-family: 'Open Sans', arial, verdana, sans-serif;
  font-weight: 400;
  color: #717171;
}
.panel {
  border-radius: 3px !important;
  -mox-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  border: 1px solid #d2d3d6;
  background: #ffffff;
  margin-bottom: 20px;
}
.panel:before,
.panel:after {
  content: " ";
  display: table;
}
.panel:after {
  clear: both;
}
.panel .panel-heading {
  color: #4a87b6;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  font-size: 13px;
  font-size: 1.3rem;
}
.panel .panel-heading a {
  color: inherit;
}
.panel .panel-heading a *[class*='caret-'] {
  height: 100%;
  vertical-align: middle;
}
.panel .panel-body {
  padding: 10px;
}
.panel .panel-body:before,
.panel .panel-body:after {
  content: " ";
  display: table;
}
.panel .panel-body:after {
  clear: both;
}
.error-header {
  font-size: 19px;
  font-size: 1.9rem;
  color: #d4d4d4;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
}
.error-paragraph {
  text-align: center;
  padding-bottom: 10px;
}
